.walkman{
  display: grid;
  grid-template-rows: 22% 11% 52%;
  grid-template-columns: 24% 10% 64% 7%;
  grid-template-areas: ". . . ."
                       ". . . ."
                       ". . name ."
                       ". . edit .";
  background-image: url('/imgs/walkman_blank_3_no_window.png');
  background-size: cover;
  width: auto;
  aspect-ratio: 1635 / 1274;
  margin: auto;
}

.gridEdit {
  grid-area: edit;
  align-self: center;
}

.gridName {
  grid-area: name;
  align-self: center;
}

.gridInput {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  align-self: center;
  @media (max-width: 62rem) {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }
}



.playlist {
  display: grid;
  grid-template-columns: 3% 15% 64% 15% 3%;
  grid-template-rows: 9% 35% 35% 9%;
  grid-template-areas: ". . . . ."
                       ". img artist remove ."
                       ". img song remove .";
  // background-image: url('src/assets/imgs/tapeCase.png');
  background-image: url('/imgs/tapeCase.png');
  aspect-ratio: 768 / 136;
  background-size: cover;
}

.gridImg {
  grid-area: img;
  justify-self: center;
  align-self: center;
}

.gridArtist {
  grid-area: artist;
  justify-self: center;
  align-self: center;
}

.gridSong {
  grid-area: song;
  justify-self: center;
  align-self: center;
}

.gridRemove {
  grid-area: remove;
  justify-self: center;
  align-self: center;
}
