.playlist {
  display: grid;
  grid-template-columns: 3% 15% 64% 15% 3%;
  grid-template-rows: 9% 35% 35% 9%;
  grid-template-areas: ". . . . ."
                       ". img artist remove ."
                       ". img song remove .";
  background-image: url('src/assets/imgs/tapeCase.png');
  aspect-ratio: 768 / 136;
  background-size: cover;
}

.gridImg {
  grid-area: img;
  justify-self: center;
  align-self: center;
}

.gridArtist {
  grid-area: artist;
  justify-self: center;
  align-self: center;
}

.gridSong {
  grid-area: song;
  justify-self: center;
  align-self: center;
}

.gridRemove {
  grid-area: remove;
  justify-self: center;
  align-self: center;
}
